* .c++ linguist-detectable=false
* .html linguist-detectable=false
* .c linguist-detectable=false
* .swift linguist-detectable=false
* .cmake linguist-detectable=false
* .xml linguist-detectable=false
* .yaml linguist-detectable=false
* .json linguist-detectable=false
* .dart linguist-detectable=true
* .XML linguist-detectable=false